/* General Css */
body{
    font-family: "Bebas Regular", "Myriad Variable Concept", sans-serif;
    width: 100%;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Hearder */
.content-top{
    background-color: #006fb7;
    width: 100%;
    margin-top: -8px;
    margin-left: -10px;
    padding-bottom: 40px;
}
.entete{
    padding-top: 10px;
    margin-left: 30px;
    justify-content: center;
    display: flex;
}
.entete h4{
    font-size: 40px;
    color: #fff;
    margin-top: 0;
    margin-right: 120px;
}
nav ul{
    display: flex;
}
nav ul li{
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
}
nav ul li a{
    color: #fff;
}
.icon-social{
    margin-left: 70px;
}

/* Milieu */
.milieu{
    display: flex;
    color: #fff;
}
.milieu-left{
    margin-left: 30px;
    width: 500px;
}
.milieu-left h6{
    font-size: 50px;
}
.milieu-left p{
    margin-top: -90px;
    font-size: 20px;
}
.img-pizza{
    width:500px;
    clip-path:ellipse(50% 50%);
    margin-left: 180px;
    margin-bottom: 30px;
}
.boutton a{
    color: #fff;
}
.boutton{
    margin-left: 30px;
    font-size: 20px;
    margin-top: -100px;
    text-align: center;
    width: 150px;
    border: 1px orange solid;
    background-color: orange;
    border-radius: 120px;
}
.boutton:hover{
    background-color: transparent;
    border-width: 4px;
}

/* Center */
.content-to-center{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    padding-left: 30px;
}
.to-center-text{
    margin-right: 120px;
    width: 500px;
}
.to-center-text h3{
    font-size: 30px;
    color: #006fb7;
}
.to-center-text p{
    color: rgb(128, 128, 128);
}
.to-center-text ul{
    color: rgb(128, 128, 128);
    list-style: url('images/checked.jpg');
}

/* Bottom */
.content-to-bottom{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    padding-left: 30px;
}
.to-bottom-text{
    margin-right: 120px;
    width: 300px;
}
.to-bottom-text h3{
    font-size: 30px;
    color: #006fb7;
}
.to-bottom-text p{
    color: rgb(128, 128, 128);
}
.to-bottom-img{
    display: flex;
    border-left: 1px #000 solid;
}
.to-bottom-img img{
    width: 250px;
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}
.description{
    display: flex;
    justify-content: center;
}
.description img{
    height: 20px;
    width: 70px;
    margin-top: 10px;
    margin-left: 20px;
}
.boutton-2{
    margin-top: -180px;
    width: 150px;
    margin-left: 30px;
    text-align: center;
    border: 1px #006fb7 solid;
    background-color: #006fb7;
    border-radius: 40px;
}
.boutton-2 a{
    color: #fff;
}
.boutton-2:hover,.boutton-2 a:hover {
    background-color: transparent;
    color: #006fb7;
}