/* General Css */
body{
    font-family: "Bebas Regular", "Myriad Variable Concept", sans-serif;
    overflow-x: hidden;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Hearder */
.content-top{
    background-color: #006fb7;
    padding-bottom: 40px; 
    width: 1400px;
    margin-top: -8px;
    margin-left: -10px;
}
.entete{
    padding-top: 10px;
    margin-left: 30px;
    justify-content: center;
    display: flex;
}
.entete h4{
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    margin-right: 120px;
}
nav ul{
    display: flex;
}
nav ul li{
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
}
nav ul li a{
    color: #fff;
}
.icon-social{
    margin-top: 10px;
    margin-left: 70px;
}


/* Milieu */
.milieu{
    /* width: 100%; */
    display: flex;
    color: #fff;
    padding-bottom: 60px;
}
.milieu-left{
    margin-left: 30px;
    width: 500px;
}
.milieu-left h6{
    font-size: 50px;
}
.milieu-left p{
    margin-top: -90px;
    font-size: 20px;
}
.boutton a{
    color: #fff;
}
.boutton{
    margin-left: 30px;
    font-size: 20px;
    margin-top: -100px;
    text-align: center;
    width: 150px;
    border: 1px orange solid;
    background-color: orange;
    border-radius: 120px;
}
.boutton:hover{
    background-color: transparent;
}
.img-pizza{
    width:400px;
    height: 400px;
    margin-right: -200px;
    clip-path:ellipse(50% 50%);
    margin-bottom: 30px;
    margin-left: 250px;
    /* display: block !important;
    float: right !important; */
} 
.milieu-right{
    display: flex;
}
.description-pizza{
    color: #000;
    display: flex;
    width: 250px;
    height: 150px;
    background-color: #fff;
    z-index: 99;
    padding: 10px;
    border-radius: 30px;
    margin-top: 200px;
}
.description-pizza img{
    width:50px;
    height: 50px;
    clip-path:ellipse(50% 50%);
    margin: 10px;
}
.description-pizza-text{
    width: 300px;
}
.description-pizza-text .P2{
    margin-left: -50px;
}
.description-pizza-text h5{
    font-size: 15px;
}
/* Center */
.content-to-center{
    /* width: 1380px; */
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    padding-left: 30px;
}
.to-center-text{
    margin-right: 400px;
    width: 400px;
}
.to-center-text h3{
    font-size: 30px;
    color: #006fb7;
}
.to-center-text p{
    color: rgb(128, 128, 128);
}
.to-center-text ul{
    color: rgb(128, 128, 128);
    list-style: url('images/checked.jpg');
}
.to-center-img{
    float: right;
    width: 400px;
}

/* Bottom */
.content-to-bottom{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    padding-left: 30px;
}
.to-bottom-text{
    margin-right: 150px;
    width: 500px;
}
.to-bottom-text h3{
    font-size: 30px;
    color: #006fb7;
}
.to-bottom-text p{
    color: rgb(128, 128, 128);
}
.to-bottom-img{
    width: 100%;
    display: flex;
    border-left: 1px #000 solid;
}
.to-bottom-img img{
    width: 250px;
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}
.description{
    display: flex;
    justify-content: center;
}
.description img{
    height: 20px;
    width: 70px;
    margin-top: 10px;
    margin-left: 20px;
}
.boutton-2{
    margin-top: -180px;
    width: 150px;
    margin-left: 30px;
    text-align: center;
    border: 1px #006fb7 solid;
    background-color: #006fb7;
    border-radius: 40px;
}
.boutton-2 a{
    color: #fff;
}
.boutton-2:hover,.boutton-2 a:hover {
    background-color: transparent;
    color: #006fb7;
}